@import 'variables';

@mixin placeholder($color: $second-color) {
    &:-ms-input-placeholder       { color: $color; }
    &::-webkit-input-placeholder  { color: $color; }
    &::placeholder                { color: $color; }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(animBefore) {
    50% { width: 50%; background: $second-color; }
}

@include keyframes(animAfter) {
    50% { width: 50%; background: $second-color; }
}

@include keyframes(animInside) {
    50% { color: $second-color; }
}

body {
    background: $main-color;
    .loader {
        position: absolute;
        top: 35%;
        left: 45%;
        .text-load {
            color: $second-color;
            text-align: center;
            font-weight: 700;
        }
    }
    .main {
        nav {
            background: $main-color;
            border-bottom: 3px solid $second-color;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 15px;
            .card-menu {
                position: relative;
                height: 100%;
                padding: 1%;
                width: 7em;
                text-align: center;
                &::before {
                    content: "";
                    position: absolute;
                    background: $second-color;
                    height: 100%;
                    width: 100%;
                    top: 0%;
                    left: 0%;
                    z-index: -1;
                }
                .btn-menu {
                    button {
                        color: #fff;
                        background: none;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        transition: .3s ease-in;
                        &:hover {
                            color: $main-color;
                        }
                        &:focus {
                            color: $main-color;
                        }
                    }
                }
            }
            .main-links {
                flex: 1;
                ul {
                    li {
                        list-style: none;
                    }
                }
            }
        }
        .menu_active {
            transition: .3s ease-in;
            background: $second-color;
            height: 100vh;
            width: 100vw;
            opacity: 1 !important;
            overflow: hidden;
            ul {
                margin-top: 15rem;
                margin-left: 15rem;
                li {
                    position: relative;
                    list-style: none;
                    .menu-link {
                        transition: .3s ease-in;
                        &:hover {
                            color: #fff;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 40%;
                        left: -5%;
                        height: 15px;
                        width: 15px;
                        transform: rotate(45deg);
                        background: rgba(255, 255, 255, 0.5);
                        transition: .3s ease-in;
                    }
                    &:hover {
                        &:before {
                            background: #fff;
                        }
                    }
                }
            }
        }
        .toggle-menu {
            opacity: 0;
            ul {
                li {
                    .menu-link {
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 48px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .fullscreen {
        transition: .3s ease-in;
        height: 100vh;
        .animation {
            position: relative;
            width: 100%;
            color: #fff;
            font-size: 64px;
            font-weight: 700;
            text-align: center;
            margin-top: 5rem;
            @include animation('animInside 3s infinite');
            &::before {
                content: "";
                position: absolute;
                width: 5%;
                height: 3px;
                background: #fff;
                bottom: -5px;
                left: 0;
                @include animation('animBefore 3s infinite');
            }
            &::after {
                content: "";
                position: absolute;
                width: 5%;
                height: 3px;
                background: #fff;
                bottom: -5px;
                right: 0;
                @include animation('animAfter 3s infinite');
            }
        }
        .big-title {
            font-size: 144px;
            color: rgba(255, 255, 255, .3);
        }
        .projects, .clients {
           table {
               thead, tbody {
                color: #fff;
                border: 3px solid $second-color;
                tr {
                    &:not(:last-child) {
                        border-bottom: 3px solid $second-color;
                    }
                    th, td {
                      border-right: 3px solid $second-color;
                    }
                }
               }
           }
        }
        .form-project {
            width: 100%;
            form {
                div {
                    div {
                        input {
                            background: $main-color;
                            border: none;
                            border-bottom: 3px solid $second-color;
                            border-radius: 0;
                            color: $second-color;
                            box-shadow: none;
                            outline: none;
                            @include placeholder();
                        }
                    }
                }
                button {
                    float: left;
                }
            }
        }
    }
    .btn-style {
        position: relative;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 0;
        color: $second-color;
        background: transparent;
        text-decoration: none;
        transition: .3s ease-in;
        border: 3px solid $second-color;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: .3s ease-in;
            background: $second-color;
            z-index: -1;
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
        &:hover {
            position: relative;
            color: $main-color;
            &:before {
                width: 100%;
            }
        }
    }
    form {
        position: relative;
        top: 15%;
        margin: 0 15%;
        text-align: center;
        .group {
            margin-bottom: 5rem !important;
            position: relative;
            label {
                color: transparent;
                transition: .3s ease-in;
                position: absolute;
                top: -100%;
                left: 0;
                font-weight: 700;
            }
            .input-style {
                background: $main-color;
                color: #fff;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 3px solid $second-color;
                border-radius: 0;
                transition: .3s ease-in;
                @include placeholder();
                &:focus {
                    background: $main-color;
                    color: #fff;
                    border-bottom: 3px solid #fff;
                    box-shadow: none;
                    +label {
                        color: $second-color;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 775px)  {
    .main {
        .menu_active {
            ul {
                margin-left: 0 !important;
            }
        }
    }
}